@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

// Variables
$clr-primary: hsl(4, 100%, 67%);
$clr-neutral-800: hsl(234, 29%, 20%);
$clr-neutral-700: hsl(235, 18%, 26%);
$clr-neutral-400: hsl(231, 7%, 60%);
$clr-neutral-100: hsl(0, 0%, 100%);
$gradient: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
$ff: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-neutral-800;
    background-color: $clr-neutral-700;
}

// Typography
h1 {
    font-size: 2.5rem;
    margin-bottom: 0.75em;
    line-height: 1;
}

p {
    margin-bottom: 1em;
}

.small {
    font-size: 0.75rem;
    font-weight: 700;
}

// Components
label {
    display: block;
    margin-bottom: 0.5em;
}

input,
.btn {
    display: block;
    width: 100%;
    padding: 1.1em;
    font-family: $ff;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;

    &:focus {
        border: 1px solid $clr-neutral-800;
    }
}

input {
    margin-bottom: 1.5em;
    color: $clr-neutral-800;
    border: 1px solid rgba($clr-neutral-400, 0.5);

    &::placeholder {
        color: rgba($clr-neutral-800, 0.5);
    }
}

.btn {
    text-align: center;
    text-decoration: none;
    color: $clr-neutral-100;
    font-weight: 700;
    background-color: $clr-neutral-800;
    border: none;
    cursor: pointer;

    &:hover {
        background: $gradient;
        box-shadow: 0 16px 32px 0 rgba($clr-primary, 0.5);
    }

    &:focus {
        border: none;
    }
}

// Layout
.main-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 375px;
    margin-inline: auto;
    background-color: $clr-neutral-100;
}

.form-container {
    padding: 0 1.25em 1.25em;

    ul {
        list-style: none;
        margin-bottom: 2.25em; 
    }

    li {
        position: relative;
        margin-bottom: 0.75em;
        padding-left: 2.25em;

        &::before {
            content: url('../assets/images/icon-list.svg');
            position: absolute;
            left: 0;
        }
    }
}

.image-container {
    order: -1;

    picture {
        display: block;
    }

    img {
        width: 100%;
    }
}

// Error state
.error {
    position: relative;

    input {
        background-color: rgba($clr-primary, 0.15);
        border-color: $clr-primary;

        &::placeholder {
            color: $clr-primary;
        }

        &:focus {
            border-color: darken($clr-primary, 10%);
        }
    }
    
    label::after {
        content: 'Oops, wrong format'; 
        position: absolute;
        right: 0;
        color: $clr-primary;
    }
}

// Success message
.main-container {
    min-height: 100vh;
}

.success-main-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em 1.25em 2.25em;
}

.success-container {
    margin-top: 8em;

    img {
        width: 64px;
        margin-bottom: 2.25em;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 3.5rem;
        margin-bottom: 0.5em;
    }

    body {
        padding: 2em;
        background-color: $clr-neutral-700;
    }

    .main-container {
        position: relative;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        max-width: 928px;
        top: 150px;
        margin-inline: auto;
        padding: 1.5em;
        border-radius: 36px;
    }

    .form-container {
        padding: 1.25em 2.5em;
    }

    .image-container {
        order: 0;
    }

    // Success message
    .main-container {
        min-height: auto;
    }

    .success-main-container {
        flex-direction: column;
        justify-content: space-between;
        padding: 3em 4em 4em;
        max-width: 520px;
    }

    .success-container {
        margin-top: 0em;

        img {
            width: 64px;
            margin-bottom: 2.25em;
        }

        p {
            margin-bottom: 0;
        }
    }
}